* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 1rem;
}

.App {
  font-family: sans-serif;
}

.json-tree {
  padding: 1rem;
  border: 1px solid gray;
  overflow-y: scroll;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.indent {
  padding-left: 30px;
}

.key {
  color: blue;
}

.key:hover {
  text-decoration: underline;
  cursor: pointer;
}


